<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>J. Harris</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">		
		<link rel="stylesheet" href="/index-style.css" type="text/css" />
	</head>
	
	<body>
		<a name="home"></a>
<!-- 		<div class="jh-clip-text jh-clip-text_six">Raise Your Vibration</div>
 -->		
		 <div class="navbar-fixed-top navbar jh-nav" id="navbar">
		  <a href="#home">Home</a>
		  <a href="#projects">Projects</a>
		  <a href="#resume">Resume</a>
		  <a href="#social">Social</a>
		</div>
		<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
		  <a href="#home">Home</a>
		  <a href="#projects">Projects</a>
		  <a href="#resume">Resume</a>
		  <a href="#social">Social</a>
		</div>
		<div class="jh-body-space">
			<div class="main">
				<div class="jh-p1">
				
				<span style="font-size:30px;cursor:pointer" onclick="openNav()">
				<div class="square">
					<div class="content">
					    <div class="circles">
					      <div class="circle circle1"></div>
					      <div class="circle circle2"></div>
					      <div class="circle circle3"></div>
					    </div>
					    <div class="lines">
					     <div class="line1 line"></div>
					      <div class="line2 line"></div>
					      <div class="line3 line"></div>
					    </div>
				   </div>
				</div></span>
				
				
				</div>
					<div class="jh-t1">
					<a name="projects"></a>
					<h1 class="jh-shadow-text">Projects</h1>
						<div class="card-deck jh-card-deck">
						  <div class="card">
						    <div class="card-body">
						      <h4 class="card-title">Card title</h4>
						      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						        <a href="#!" class="card-link">Card link</a>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-body">
						      <h4 class="card-title">Card title</h4>
						      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
						        <a href="#!" class="card-link">Card link</a>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-body">
						      <h4 class="card-title">Card title</h4>
						      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						   		<a href="#!" class="card-link">Card link</a>
						    </div>
						  </div>
						</div>
						
						<div class="card-deck jh-card-deck">
						  <div class="card">
						    <div class="card-body">
						      <h4 class="card-title">Card title</h4>
						      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						        <a href="#!" class="card-link">Card link</a>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-body">
						      <h4 class="card-title">Card title</h4>
						      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
						        <a href="#!" class="card-link">Card link</a>
						    </div>
						  </div>
						  <div class="card">
						    <div class="card-body">
						      <h4 class="card-title">Card title</h4>
						      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
						        <a href="#!" class="card-link">Card link</a>
						    </div>
						  </div>
						</div>
						
						
					</div>
				<div class="jh-p2">
				</div>
					<div class="jh-t2">
					<a name="resume"></a>
						<h1 class="jh-shadow-text2">Resume</h1>
<!-- 						<embed src="my-resume-complete.pdf" width="800px" height="2100px" />	
 -->					
 						<img class="jh-resume" src="00001.jpg" alt="Resume" />
 						<button type="button" class="btn btn-info jh-resume-btn"><a class="jh-link" href="/my-resume-complete.pdf" download="my-resume-complete.pdf">Download Full Resume</a>
						</button>
					</div>
				<div class="jh-p3">
				</div>
					<div class="jh-t3">
					<a name="social"></a>
						<h1 class="jh-shadow-text3">Social</h1>
					
					<div class="container">
		
						<ul class="social">
				
							<li class="facebook"><a href="https://www.facebook.com/jessica.harris.1428" target="_blank" class="entypo-facebook"><img class="social-img" src="/face book.png"/></a></li>
							<li class="twitter"><a href="https://twitter.com/thisisjessica" target="_blank" class="entypo-twitter"><img class="social-img" src="/twitter.png"/></a></li>
							<li class="github"><a href="https://github.com/Jessicahh7" target="_blank" class="entypo-dribbble"><img class="social-img" src="/github .png"/></a></li>
							<li class="instagram"><a href="https://www.instagram.com/jessicahaley7/" target="_blank" class="entypo-behance"><img class="social-img" src="/instagram.png"/></a></li>
							<li class="linked-in"><a href="https://www.linkedin.com/in/jessica-harris-61075b147/" target="_blank" class="entypo-linkedin"><img class="social-img" src="/linked in.png"/></a></li>
				
						</ul>
				
					</div>	
						<footer class="jh-footer-copy">&copy; Copyright 2019 Jessica Harris</footer>
					</div>
			</div>
		
		</div>
	    <script  src="index.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>



<!-- BQAreG6ae1J3XuqdBBvnrXdqTnrAesGzu2d5fuW5G8hJBDJT3IGHEtDjFtDMuBtUQjRqS7pYELBjqXU_4g5krGq-pO1TIPrp0tw5rrsDeqLSNXivpUvYuXos-D6y46k7kZRetXuwqyMTUn7kcmz2t-okbHmM0w5dmCLzDpSBArraBtRCxUbO3jyNbgkJ -->
